.navBar{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10px;
}

.linkButtonDefault{
    border-radius: 50%;
}
.pupImgCol{
    margin: 10px;
    font-size: 45px;
    color: #563059;
    background-color: white;
    padding-left: 60px;
}
.pupDataCol{
    margin: 10px;
    font-size: 25px;
    color: #563059;
    background-color: white;
    padding-left: 60px;
    padding-right: 50px;
}

.navItem{
    margin: 10px;
    border-color: #563059;
    border-style: solid;
    border-width: 10px;
    border-radius: 50px;
    font-size: 45px;
    color: #563059;
    background-color: white;
}
.navItem:active{
    background-color: #563059;
    border-color: #563059;
    color: white;
}
.navItem:hover{
    background-color: #563059;
    border-color: #563059;
    color: white;
}
.navItem:target{
    background-color: #563059;
    border-color: #563059;
    color: white;
}
.navItem:focus{
    background-color: #563059;
    border-color: #563059;
    color: white;
}


.navItemSmall{
    margin: 10px;
    border-color: #563059;
    border-style: solid;
    border-width: 10px;
    border-radius: 50px;
    font-size: 25px;
    color: #563059;
    background-color: white;
}
.navItemSmall:active{
    background-color: #563059;
    border-color: #563059;
    color: white;
}
.navItemSmall:hover{
    background-color: #563059;
    border-color: #563059;
    color: white;
}
.navItemSmall:target{
    background-color: #563059;
    border-color: #563059;
    color: white;
}
.navItemSmall:focus{
    background-color: #563059;
    border-color: #563059;
    color: white;
}
.navItemSmall2{
    margin: 10px;
    border-color: #563059;
    border-style: solid;
    border-width: 10px;
    border-radius: 50px;
    font-size: 14px;
    color: #563059;
    background-color: white;
}
.navItemSmall2:active{
    background-color: #563059;
    border-color: #563059;
    color: white;
}
.navItemSmall2:hover{
    background-color: #563059;
    border-color: #563059;
    color: white;
}
.navItemSmall2:target{
    background-color: #563059;
    border-color: #563059;
    color: white;
}
.navItemSmall2:focus{
    background-color: #563059;
    border-color: #563059;
    color: white;
}